
.info-section{
  width: 100vw;
  padding: 20px 30px;
}

.info-section h2{
  text-align: center;
  padding-bottom: 35px;


}
.info-section-cards{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.card{
  background-color: #262424;
  padding: 15px 20px;
  border-radius: 5px;
}

.card img{
  margin: auto;
  display: block;
  width: 50%;
  padding-bottom: 15px;
}
.card h3{
  margin: 15px 0 20px 0;
}
